# Supabase Connection URI (Go to Supabase Dashboard -> Settings -> Database -> Connection string -> URI)
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.xxxx.supabase.co:5432/postgres

# JWT Secret Key
JWT_SECRET=your_super_secret_jwt_key

# Node Server Port (Default is 3000)
PORT=3000
